<h1>Entried</h1>

  <table class="table table-bordered">
    <tr class="table-active">
      <th>イベント名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
      <th><br></th>
    </tr>
    <tbody>
    <% entries.each do |entry| %>
      <tr>
        <td>
  　       <%= attachment_image_tag entry.item, :image, :fill, 300, 300, format: 'jpeg' %>
        　<%= entry.item.name %>
        </td>
        <td><%= entry.item.with_tax_price %></td>
        <td><%= entry.subtotal %></td>
      </tr>
      <% @sum += entry.subtotal %>
    <% end %>
  </table>
  合計金額 <%= @sum %>

