<div class="col-md-12 col-sm-10 mx-2 mx-sm-auto">
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <h1>Entries</h1>
 
    <table class="table border text-center">
      <tr class="table-active">
        <th>Event</th>
        <th>Date</th>
        <th>Price</th>
        <th>amounts</th>
        <th>Subtotal</th>
      </tr>
      <tbody>
        <% if @entries.present? %>
          <% @entries.each do |entry| %>
            <tr>
              <td>
                <%= link_to entry_path(entry) do %>
                  <%= entry.event.title %>
                <% end %>
              </td>
              <td><%= entry.event.date %></td>
              <td><%= entry.event.with_tax_price %></td>
              <td>
                <%= entry.amount %>
              </td>
              <td>
                <%= entry.tax_included_price %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">Entry Not found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
