<%= render "admin/layouts/header" %>
<h1>Event Edit</h1>

<% if @event.errors.any? %>
  <%= @event.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

        <%= form_with url: admin_event_path(@event.id), model: @event, method: :patch do |f| %>
          <label for="inputName">Title</label>
          <br>
          <%= f.text_field :name, autofocus: true, id:"inputName"%>
          <br>
          <%= date_field_tag :date, autofocus: true, id:"inputDate"%>
          <!--<#%= f.time_select :date, id: 'inputTime' %>-->
          <br>
          <label for="inputPrice">Price</label>
          <%= f.text_field :price, autofocus: true, id:"inputPrice" %>
          <br>
          <label for="inputDetail">説明</label>
          <%= f.text_field :detail, autofocus: true, id:"inputDetail" %>
          <br>
          <%= f.submit "Update Event" %>
        <% end %>
        
        <%= link_to "Show", admin_event_path(@event.id) %>
        |
        <%= link_to "Back", admin_events_path %>
