<h1>Event</h1>
     <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Event</th>
            <th scope="col">Price</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <th scope="row">
                <%= link_to admin_event_path(event.id) do %>
                  <%= image_tag event.get_image, size: '300x300' %>
                <% end %>
              </th>
              <td>
                <%= event.name %>
              </td>
              <td>
                <%= event.price %>
              </td>
              <td>
                <%= event.detail %>
              </td>
              <td>
                <%= link_to 'Edit', edit_admin_event_path(event.id) %>
              </td>
              <td>
                <%= link_to 'Delete', admin_event_path(event.id), method: :delete, data: { confirm: 'Are you sure？' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>