<%= render "admin/layouts/header" %>
<div class="container py-2">
  <%= flash.now[:danger] %> 
  <h2>Event</h2>

  <%= form_with url: admin_events_path, model: @event do |f| %>
    <div class="body">
      <div class="row">
        <div class="col-10">
          <div class="field">
            <p class="post-image">image</p>
            <%= f.file_field :image, accept: "image/*" %>
          </div>

          <div class="field py-4">
            <p class="post-title">Title</p>
            <%= f.text_field :title %>
          </div>
          <div class= "field">
            <p class="post-date">Date</p>
            <%= f.date_field :date %>
          </div>
          
          <div class="field">
            <p class="post-price">Price</p>
            <%= f.number_field :price %>
          </div>

          <div class="field">
            <p class="post-detail mt-3">Detail</p>
            <%= f.text_area :detail %>
          </div>
          <div class="action">
            <%= f.submit 'POST', class: "btn btn-outline-warning mt-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>