<%= render "admin/layouts/header" %>

<div class="container">
  <div class="row">
    <div class="col-10">
      <p class="text h3  m-2">Event</p>
      <div class="card w-100 mx-auto p-4 mb-3 shadow-lg">
        <h3><%= @event.title %></h3>
        <%= image_tag @event.get_image, size: "auto" %>
        <p class="date mt-2">Date: <%= @event.date %></p>
        <p class="address mt-2">Address: <%= @event.event_address %></p>
        <p class="price mt-2">Price: ￥ <%= @event.price %></p>
        <p class="detail"><%= @event.detail %></p>
        <%= link_to "Edit", edit_admin_event_path(@event.id), class: 'btn btn-outline-primary my-2' %>
        <%= link_to "Destroy", admin_event_path(@event.id), method: :delete, class: 'btn btn-outline-danger', "data-confirm" =>"Are you OK?" %>
      </div>
    </div>
  </div>
</div>