<h1>Pets</h1>

<% @pets.each do |pet| %>
  <div>
    <P>名前：<%= pet.name %></P>
    <%= image_tag pet.get_image %>
    <p>投稿ユーザー画像 
    <!--ユーザー画像-->
    </p>
    <P>投稿者：<%= pet.user.name %></P>
    <p>種類：<%= pet.kind %></p>
    <p>説明：<%= pet.caption %></p>
  </div>
<% end %>