<h1>Pet</h1>

<div>
  <%= image_tag @pet.get_image %>
  <p>name：<%= @pet.name %></p>
  <p>kind：<%= @pet.kind %></p>
  <p>caption：<%= @pet.caption %></p>
  <p><%#= image_tag 'sample-author1.jpg' %></p>
  <p><%= @pet.user.name %></p>
  <p><%= @pet.created_at.strftime('%Y/%m/%d') %></p>
  
  <% if @pet.user == current_user %>
    <%= link_to "Edit", edit_pet_path(@pet.id) %>

    <%= link_to "Destroy", pet_path(@pet.id), method: :delete, "data-confirm" =>"Are you sure?" %>
  <% end %>
</div>

<div>
  <p>Comment counts：<%= @pet.comments.count %></p>
  <% @pet.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "Delete", pet_comment_path(comment.pet, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@pet, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "Comment here" %>
    <%= f.submit "Create" %>
  <% end %>
</div>