<div class="container">
  
  <%= render 'layouts/flash_messages' %>
  
  <div class="row m-3">
    <div class="col text-center">
      <h2 class="toplink">
      <%= link_to about_path do %>
        <i class="fas fa-paw"></i>
        PETTERS
      <% end %>
     にようこそ！
     </h2>
   </div>
  </div>
  
  <%= link_to about_path do %>
    <%= image_tag "zion.jpg", size: '300x600', class: "card-img-top mx-auto p-2"; %>
  <% end %>
  
  <% unless user_signed_in? %>
  <div class="row">
    <div class="col mb-5">
      <%= link_to "Guest Login", users_guest_sign_in_path, class: "btn btn-warning btn-lg btn-block", method: :post %>
    </div>
  </div>
  <% end %>

</div>
