<div class="container">
  <%= flash[:notice] %>
  <div class="row　my-">
    
    <h1>Addresses</h1>
    <table class="table border text-center">
      <tr class="table-active">
        <th>No.</th>
        <th>Postalcode</th>
        <th>Address</th>
        <th>Name</th>
        <th></th>
      <tbody>
        <% if @addresses.present? %>
          <% @addresses.each.with_index(1) do |address, i| %>
            <tr>
              <td><%= i %></td>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.address_username %></td>
              <td>
                <%= link_to "Edit", edit_address_path(address), class: "btn btn-outline-warning d-grid gap-2 mx-auto" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">No order details found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
