<% if user_signed_in? %>

  <% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render 'public/users/index', users: @records %>
  <% elsif @model == 'pet' %>
    <h3>Pets search for "<%= @content %>"</h3>
    <%= render 'public/pets/index', pets: @records %>
  <% elsif @model == 'event' %>
    <h3>Events search for "<%= @content %>"</h3>
    <%= render 'public/events/index', events: @records %>
  <% end %>
<% end %>
