<div class ="contianer md-mx-10 sm-mx-auto">
  <h2>Ordered Confirm</h2>
  <div class="row">
    <div class="col-md-6 offset-md-1 col-sm-10 mx-2 mx-sm-auto">
      <table class="table">
        <tr>
          <td>イベント</td>
          <td>単価</td>
          <td>枚数</td>
          <td>小計</td>
        </tr>
        <% total = 0 %>
        <tr>
          <td>
            <%= image_tag @entry.event.get_image(100, 100), class: "img mx-auto"; %>
            <%= @entry.event.title %>
          </td>
          <td><%= @entry.event.with_tax_price %></td>
          <td><%= @amount %></td>
          <td><%= @order.total_payment = (@entry.event.with_tax_price.to_i * @amount.to_i) %></td>
          <!--<td><#%= @entry.subtotal %></td>-->
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-1 col-sm-10 mx-2 mx-sm-auto mb-5">
      <table class="table">
        <tr>
          <td><strong>請求金額</strong></td>
          <td><strong>￥　<%= @order.total_payment %></strong></td>
          <!--<td><#%= @entry.subtotal %></td>-->
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 col-sm-10 mx-2 mx-sm-auto">
      <table class="table">
        <tr>
          <td>支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @order.username %></td>
        </tr>
        
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-1 col-sm-10 mx-2 mx-sm-auto mb-5">

      <%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :payment_method, value:  @order.payment_method %>
        <%= f.hidden_field :postal_code, value: @order.postal_code %>
        <%= f.hidden_field :total_payment, value: @order.total_payment %>
        <%= f.hidden_field :address, value: @order.address %>
        <%= f.hidden_field :username, value: @order.username %>
        <%= f.hidden_field :status, value: "wait_payment" %>
        <%= f.hidden_field :entry_id, value: @entry_id %>
        <%= f.hidden_field :amount, value: @amount %>
        <%= f.hidden_field :subtotal, value: @subtotal %>
        <%= f.hidden_field :event_id, value: @event_id %>
        <%= f.submit "注文を確定する", class: "btn btn-warning" %>
      <% end %>
      <%= link_to "Back", new_order_path %>
    </div>
  </div>
</div>
