<div class="container">
  <div class="row">
    <h1>Ordered Events</h1>

    <table class="table border text-center">
      <tr class="table-active">
        
        <th>Event</th>
        <th>Event Date</th>
        <th>Price</th>
        <th>amount</th>
        <th>Subtotal</th>
      </tr>
      <tbody>
        <% if @order_details.present? %>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td>
                <%= link_to event_path(order_detail.event_id) do %>
                  <%= order_detail.event.title %>
                <% end %>
              </td>
              <td><%= order_detail.event.date %></td>
              <td><%= order_detail.event.with_tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= total_payment = (order_detail.price.to_i * order_detail.amount.to_i) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">No order details found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
