<div class="container">
  <h2>注文情報の入力</h2>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-sm-10 mx-2 mx-sm-auto">
      <%= form_with model: @order, url: '/orders/confirm', local: true do |f| %>
        <div class="col mb-3">
          <h4>支払方法</h4>
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method, "クレジットカード" %>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method, "銀行振込" %>
        </div>
        <div class="col mb-3">
        <h3>住所</h3>
        
        <!--<p><#%= f.radio_button :select_address, 0 %>住所</p>-->
        <!--<#%= current_user.full_address %>-->
        
        <p><%= f.radio_button :select_address, 1 %>登録済住所</p>
        <p><%= f.select :address_id, options_from_collection_for_select(Address.where(user_id: current_user), :id, :full_address) %></p>
        
        <p><%= f.radio_button :select_address, 2 %>新しい住所</p>
        
        <table>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <h5>
            <td>フルネーム</td>
            <td><%= f.text_field :address_username %></td>
          </h5>
        </table>
        </div>
        
        <%= f.hidden_field :entry_id, value: @entry_id %>
        <%= f.hidden_field :amount, value: @amount %>
        <%= f.hidden_field :subtotal, value: @subtotal %>
        <%= f.hidden_field :event_id, value: @event_id %>
  
        <%= f.submit "確認画面へ進む", class: "btn btn-warning" %>
        
      <% end %>
        
        