<%= render "admin/layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-12">
      
      <h1>Entries</h1>
     <table class="table table-hover">
        <thead>
          <tr>
            
            <th scope="col">Event</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">User</th>
            <th scope="col">Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td scope="row">
                <%= link_to admin_event_path(entry.event.id) do %>
                  <%= entry.event.name %>
                <% end %>
              </td>
              <td>
                <%= entry.event.date %>
              </td>
              <td>
                ￥<%= entry.event.price %>
              </td>
              <td>
                <%= entry.user.name %>
              </td>
              <td>
                <%= entry.amount %>
              </td>
              <td>
                <%= link_to 'Delete', admin_entry_path(entry.id), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure？' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
       </div>
  </div>
</div>