<%= render "admin/layouts/header" %>
<div class="container">
  <h1>Hello Admin!</h1>
  <h3>Event</h3>
  <div class="row m-5">
    
    <div class="col">
      <%= link_to 'Create Event', new_admin_event_path, class: "btn btn-warning btn-block" %>
    </div>
  </div>
  <h3>All Users</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>
            <%= user.name %>
          </th>
          <th>
            <%= user.email %>
          </th>
          <th>
            <%= link_to 'Destroy', admin_user_path(user), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure？' } %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>