<h1>Pets</h1>

  <% if user_signed_in? %>
 
        <div>
          <% @pets.each do |pet| %>
              <p>
                <%= link_to pet_path(pet.id) do %>
                  <%= image_tag pet.get_image %>
                <% end %>
              </p>
                <%= pet.name %>
                <%= pet.kind %>
                <%= pet.caption %>
              <p>
                <%= link_to user_path(pet.user.id) do%>
                  <%= image_tag pet.user.get_profile_image %>
                <% end %>
              </p>
              <p>
                <%= link_to user_path(pet.user.id) do%>
                  <%= pet.user.name %>
                <% end %>
              </p>
          <% end %>
        </div>

　<% else %>
        <div>
          <% @pets.each do |pet| %>

              <div class="row">
                <%= link_to pet_path(pet.id) do %>
                  <%= image_tag pet.get_image %>
                <% end %>
              </div>
              <div>
                <%= pet.name %>
                <%= pet.kind %>
                <%= pet.caption %>
              </div>
              <div>
                <%= link_to "#{pet.comments.count} Comment", pet_path(pet.id) %>
              </div>
          <% end %>
        </div>
  
  <% end %>

<%= paginate @pets %>