<div class="container py-5">
  <div class="mx-auto mt-4 card w-50 p-4 mx-auto mt-4 shadow-lg">
    <h3>Post Pet</h3>
    <% if flash[:error].present? %>
        <div id="error_explanation">
          <h5><%= flash[:error].count %>件のエラーがあります</h3>
          <ul>
            <% flash[:error].each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <%= form_with model: @pet do |f| %>
      <div class="body ">
        <div class="row">
          <div class="col">
            <div class="field">
              <p class="post-name"><i class="fa-solid fa-camera"></i> image</p>
              <%= f.file_field :image, accept: "image/*" %>
            </div>
            <div class="field py-4">
              <p class="post-name"><i class="fas fa-paw"></i> pet's name</p>
              <%= f.text_field :name %>
            </div>
            <div class="field pb-4">
              <p class="post-name"><i class="fas fa-tablet-android"></i> kind</p>
              <%= f.text_field :kind %>
            </div>
            <div class="field pd-4">
              <p class="post-name">caption</p>
              <%= f.text_area :caption %>
            </div>
          </div>
        </div>
      </div>
      <div class="action">
        <%= f.submit 'Creat', class: "btn btn-info mt-2" %>
      </div>
    <% end %>
  </div>
</div>