<div class="container">
  <div class="row p-5">
    <%= render "searches/form" %>
  </div>
  <div class="row">
    <%= render 'layouts/list', user: current_user %>
    
    <div class="col-md-8 offset-md-1 col-sm-10 mx-2 mx-sm-auto">
           <h2>Users</h2>
        <div class="col-lg">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">image</th>
                <th scope="col">name</th>
                <th scope="col">detail</th>
              </tr>
            </thead>

            <% users.each do |user| %>
              <tbody>
                <tr>
                  <% if user.is_deleted = false %>
                  <th scope="col">
                    <%= image_tag user.get_profile_image(50,50) %>
                  </th>
                  <th scope="col">
                    <%= user.name %>
                  </th>
                <% else %>
                  <th scope="col">退会済のユーザーです</th>
                <% end %>
                  <th scope="col">
                    <%= link_to "Show", user_path(user.id) %>
                  </th>
                </tr>
              </tbody>
            <% end %>
          </table>
          
        </div>
        </div>
  </div>
</div>